@media only screen and (max-width: 800px) {
  .filter-options {
    flex-direction: column;
    padding: 5px;
  }
  .filter-selectors {
    width: 100%;
    justify-content: center;
  }
  .favorites-toggle {
    padding: 0 6px;
  }
  #favorites-toggle-heart {
    margin: 0;
  }
  .favorites-toggle label {
    font-size: 0.7rem;
  }
  #restaurants-list li {
    padding: 0 10px 25px;
  }
  nav {
    padding: 0;
    height: auto;
  }
  nav h1 {
    padding: 0;
  }
  nav h1 a{
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 580px) {
  #restaurants-list li {
    width: 100%;
  }
  #filters-dropdown-toggle {
    width: 100%;
    justify-content: space-between;
  }
  #dropdown-arrow {
    display: inline-block;
  }
  .filter-selectors {
    flex-direction: column;
    overflow: hidden;
  }
}