@charset "utf-8";
/* CSS Document */
/* General Styling */
* {
  box-sizing: border-box;
}
body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
  width: 100%;
}
ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: #333333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}
a img{
  border: none 0px #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, section {
  display: block;
}
header {
  background-color: #252831;
}

/* ====================== Navigation ====================== */

nav h1 {
  margin: 0 auto;
  padding: 10px;
}
nav h1 a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-selectors select {
  background-color: white;
  border: 1px solid #ffffff;
  font-family: Arial,sans-serif;
  font-size: 0.8rem;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}
.filter-selectors select:focus {
  filter: brightness(90%);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list li {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 350px;
  max-width: 90%;
  position: relative;
}
#restaurants-list .restaurant-img {
  background-color: #cccccc;
  display: block;
  margin: 0;
  min-width: 100%;
  max-width: 100%;
}
#restaurants-list li h1 {
  color: #252831;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  height: 40px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #005C7D;
  border-bottom: 3px solid #eeeeee;
  color: #ffffff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:focus {
  outline: none;
  background-color: #003c52;
}