@media only screen and (max-width: 800px) {
  .filter-options {
    flex-direction: column;
    height: auto;
    padding: 5px;
  }
  .filter-selectors {
    width: 100%;
    justify-content: center;
  }
  nav {
    padding: 0;
    height: auto;
  }
  nav h1 {
    padding: 0;
  }
  nav h1 a{
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 580px) {
  #restaurants-list li {
    width: 90%;
  }
}