@charset "utf-8";
/* CSS Document */
/* General Styling */
* {
  box-sizing: border-box;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}

/* shouldn't appear on screen */
.screen-reader-content {
position: absolute;
  left: -999px;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #252831;
  color: #c4c4c4;
  font-size: 0.7rem;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #cccccc;
}
#map-container {
  position: relative;
}
#map-container .map-cover{
  display: none;
}
#map.covered {
  background: url("../img/thumbnails/blurrymap.jpg");
  background-size: cover;
}
#map-container.covered .map-cover{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/thumbnails/blurrymap.jpg");
  background-size: cover;
  transition: 0.3s ease;
}
#map-container.covered .map-cover .un-cover-button {
  color: white;
  background-color: #0087b7;
  transition: 0.1s ease;
  cursor: pointer;
  border-radius: 5px;
  border: 1px #005C7D solid;
  font-size: 1.5rem;
  padding: 10px;
}
#map-container.covered .map-cover .un-cover-button:hover {
  background: #005C7D;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #005C7D;
  align-items: center;
}
.filter-selectors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 auto;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 1200px;
  max-width: 95%;
}