/* Display list items side by side */

#breadcrumb {
  padding: 0px 40px;
  list-style: none;
  width: 100%;
}

#breadcrumb li {
  display: inline;
  color: #fff;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: #fff;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  padding: 20px 0;
  color: #00b9ff;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #0089bd;
  text-decoration: underline;
}
/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 80%;
  position: fixed;
  right: 0;
  top: 130px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 17px 0 rgba(158,158,158,1)
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: #252831;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #252831;
  color: #dddddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container, #reviews-container, #hours-container, #review-form {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #ffffff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container, #hours-container {
  padding: 30px 40px 80px;
}
#review-form {
  padding: 0;
}
#form-header {
  display: flex;
  font-weight: 300;
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: all 0.1s ease;
}
#form-header:hover {
  background-color: #0087b7;
  color: #f6f6f6;
}
#form-header h3 {
  margin: 0;
  padding-left: 20px;
}
#toggle-arrow {
  border: none;
  border-radius: 5px;
  padding: 2px 6px;
  background-color: #005C7D;
  color: white;
}
#toggle-arrow.rotated {
  transform: rotate(180deg);
}
#review-form .content {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: inset 0px 0px 35px 0 rgba(0,0,0,0.75);
}
#dropdown-form {
  max-width: 600px;
  color: #252831;
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  transition: all 0.3s ease;
}
#dropdown-form label {
  margin-top: 20px;
}
.rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rating-container label{
  margin-top: 0 !important;
}
#dropdown-form input, #dropdown-form textarea, #dropdown-form select {
  width: 100%;
  margin: 10px auto 20px;
  border-radius: 5px;
  border: gray 1px solid;
  padding: 10px;
}
#dropdown-form textarea {
  resize: none;
  height: 200px;
}
#dropdown-form select {
  background-color: white;
  height: 30px;
  max-width: 50px;
  margin: 0 10px;
  padding: 0;
}
#dropdown-form button {
  flex: 0 1 auto;
  margin: 0 auto;
  padding: 10px 20px;
  line-height: 26px;
  border: none;
  border-radius: 5px;
  background-color: #0087b7;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
#dropdown-form button:hover {
  background-color: #005C7D;
}
#reviews-container h2 {
  color: #252831;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  position: relative;
  border-radius: .4em;
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 20px 20px;
  width: 100%;
  box-shadow: 0 0 17px 0 rgba(158,158,158,1);
}

#reviews-list li p {
  margin: 0 0 10px;
}

#hours-table {
  width: 100%;
  border-collapse: collapse;
}
#hours-table tr {
  width: 100%;
  display: flex;
  border-bottom: 0.5px dashed #adadad;
}
#hours-table td.day-cell {
  max-width: 200px;
}
#hours-table td {
  padding: 10px;
  text-align: left;
  color: #666666;
}
#hours-table td span {
  display: block;
}